@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');

html {
  background: url('../assets/orange-cute-cartoon.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body {
  color: yellow;
  font-family: 'Rubik Microbe', sans-serif;
  font-style: italic;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

main {
  background-color: rgb(129, 216, 112);
  padding: 60px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.heading {
  color: rgb(244, 247, 243);
}

.header-message {
  color: blue;
  text-align: center;
  font-size: 40px;
}


.game-controls {
  text-align: center;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: rgb(224, 73, 23);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(226, 170, 58);
  border: 1px solid rgb(238, 132, 33);
  cursor: pointer;
}

.start-button:hover {
  color: greenyellow;
  font-size: 18px;
  border-color: greenyellow;
  transform: rotate(5deg);
}

.status {
  font-size: 22px;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

.pad-red {
  border-top-left-radius: 200px;
  background-color: rgb(230, 135, 26);
}

.pad-red:hover,
.pad-red:focus {
  background-color: #da5c3f;
  transform: rotate(-5deg);
}

.pad-red:active,
.pad-red.activated {
  background-color: #bd482e;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: rgb(55, 151, 145);
}

.pad-green:hover,
.pad-green:focus {
  background-color: #8cc218;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #a0ea00;
  transform: translateY(10px);
}

.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: rgb(226, 102, 195);
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #ffb900;
  transform: rotate(5deg);
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #ffca3d;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: rgb(92, 100, 212);
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #d54fcf;
  transform: rotate(5deg);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #2bbcff;
  transform: translateY(10px);
}

.hidden {
  display: none;
}


.unclickable {
  pointer-events: none;
}

